.flms {
  // Double up on selectors to beat FL's specificity
  &-badge.qq {
    background: rgba(200, 23, 14, 0.9);
    // We need to sit in front of the tab content
    z-index: 2;
  }

  &-hidden {
    display: none;
  }

  &-position-relative {
    position: relative;
  }
}
